
body{
    margin: 0;
    overflow: hidden;
}
.score_para{
    position: fixed;
    z-index: 10;
    color: lime;
    right: 20px;
    top: 10px;
    margin: 0;
    font-family:monospace;
    font-size: 20px;
}